/*! 
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {}

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {}

.btn:active,
.btn.active {}

.btn-default {}
.btn-default:hover,
.btn-default:focus {}

.btn-default:active,
.btn-default.active {}

.btn-primary {}
.btn-primary:hover,
.btn-primary:focus {}
.btn-primary:active,
.btn-primary.active {}

.btn-success {}
.btn-success:hover,
.btn-success:focus {}
.btn-success:active,
.btn-success.active {}

.btn-info {}
.btn-info:hover,
.btn-info:focus {}
.btn-info:active,
.btn-info.active {}

.btn-warning,
.btn-warning:visited { color: #fff;}
.btn-warning:hover,
.btn-warning:focus {  }
.btn-warning:active,
.btn-warning.active {}

.btn-danger {}
.btn-danger:hover,
.btn-danger:focus {}
.btn-danger:active,
.btn-danger.active {}

.thumbnail,

.img-thumbnail {}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {} 
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {}
 
.navbar-default {}
.navbar-default .navbar-nav > .active > a { background: none; color: #f39f1e;}

.navbar-brand,
.navbar-nav > li > a {}

.navbar-inverse {}
.navbar-inverse .navbar-nav > .active > a {}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {}

.alert {}
.alert-success {}
.alert-info {}
.alert-warning {}
.alert-danger {}

.progress {}
.progress-bar {}
.progress-bar-success {}
.progress-bar-info {}
.progress-bar-warning {}
.progress-bar-danger {}

.list-group {}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {}

.panel {}
.panel-default > .panel-heading {}
.panel-primary > .panel-heading {}
.panel-success > .panel-heading {}
.panel-info > .panel-heading {}
.panel-warning > .panel-heading {}
.panel-danger > .panel-heading {}

.well{}
